<a href="https://colab.research.google.com/github/praharsha5011/Assignment-1-ML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1.The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
• Sort the list and find the min and max age
• Add the min age and the max age again to the list
• Find the median age (one middle item or two middle items divided by two)
• Find the average age (sum of all items divided by their number)
• Find the range of the ages (max minus min)

In [ ]:
import statistics

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(f'sorted list: {ages}')
print(f'min element: {ages[0]}, max element: {ages[-1]}')
ages = [ages[0]] + ages + [ages[-1]]
print(f'modified ages: {ages}')
print(f'median of the ages: {statistics.median(ages)}')
print(f'average of the ages: {sum(ages) // len(ages)}')
print(f'range: {max(ages) - min(ages)}')

sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min element: 19, max element: 26
modified ages: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
median of the ages: 24.0
average of the ages: 22
range: 7

 
2.• Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status,
skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list

In [ ]:
dog = {}
dog["name"] = "rocky"
dog["color"] = "beige"
dog["breed"] = "beagle"
dog["legs"] = "4"
dog["age"] = "2 maybe?"
print(dog)

student = {}
student["first_name"] = "Praharsha"
student["last_name"] = "Chittimalla"
student["gender"] = "male"
student["age"] = "22"
student["martial_status"] = "single"
student["skills"] = ['cpp', 'c', 'python']
student["country"] = "India"
student["city"] = "warangal"
student["address"] = "hanamkonda"

skills = student.get('skills')
print(f'length of student dictonary: {len(student)}')
print(f'skills in student dictonary: {skills}, type of skills: {type(skills)}')
student['skills'] += ['javascript', 'sql']
print(f"new skills added: {student['skills']}")
print(f"dictonary keys as list: {list(student.keys())}")
print(f"dictonary values as list: {list(student.values())}")

{'name': 'rocky', 'color': 'beige', 'breed': 'beagle', 'legs': '4', 'age': '2 maybe?'}
length of student dictonary: 9
skills in student dictonary: ['cpp', 'c', 'python'], type of skills: <class 'list'>
new skills added: ['cpp', 'c', 'python', 'javascript', 'sql']
dictonary keys as list: ['first_name', 'last_name', 'gender', 'age', 'martial_status', 'skills', 'country', 'city', 'address']
dictonary values as list: ['Praharsha', 'Chittimalla', 'male', '22', 'single', ['cpp', 'c', 'python', 'javascript', 'sql'], 'India', 'warangal', 'hanamkonda']

3.• Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?

In [ ]:
brothers = ('william', 'max', 'john')
sisters = ('rebacca', 'amanda')

siblings = brothers + sisters
print(f'total siblings: {len(siblings)}')

total siblings: 5

4.it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


print(f'length of It companies: {len(it_companies)}')


it_companies.add('Twitter')
print(f'after adding Twitter to IT companies: {it_companies}')

it_companies.update(['Zen 3', 'Paypal', 'Red Bus'])
print(f'after adding multiple items to IT companies: {it_companies}')


it_companies.remove('Paypal')
print(f'after removing paypal from IT companies: {it_companies}')


# ? Difference between Discard and Remove
# * Discard will not throw an error if the item do not exit. Remove will throw an error if the item do not exist

C = A.union(B)
# A.update(B)
print(f'After join of B on A: {C}')

intersection = A.intersection(B)
print(f'After Intersection of A and B: {intersection}')


print(f'is A subset of B?: {A.issubset(B)}')

print(f'are A and B disjoint?: {A.isdisjoint(B)}')



A_with_B = A.union(B)
B_with_A = B.union(A)
print(f'join A with B: {A_with_B} and B with A: {B_with_A}')


print(f'symmetric difference between A and B: {A.symmetric_difference(B)}')


A.clear()
print(f'A after deleting: {A}')

ages_list = list(age)
print(f'length of ages set: {len(age)}, length of ages list: {len(ages_list)}')

length of It companies: 7
after adding Twitter to IT companies: {'Facebook', 'Google', 'Apple', 'Amazon', 'Twitter', 'Oracle', 'IBM', 'Microsoft'}
after adding multiple items to IT companies: {'Paypal', 'Facebook', 'Google', 'Apple', 'Amazon', 'Zen 3', 'Twitter', 'Oracle', 'Red Bus', 'IBM', 'Microsoft'}
after removing paypal from IT companies: {'Facebook', 'Google', 'Apple', 'Amazon', 'Zen 3', 'Twitter', 'Oracle', 'Red Bus', 'IBM', 'Microsoft'}
After join of B on A: {19, 20, 22, 24, 25, 26, 27, 28}
After Intersection of A and B: {19, 20, 22, 24, 25, 26}
is A subset of B?: True
are A and B disjoint?: False
join A with B: {19, 20, 22, 24, 25, 26, 27, 28} and B with A: {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference between A and B: {27, 28}
A after deleting: set()
length of ages set: 8, length of ages list: 8

5.The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_
• Take radius as user input and calculate the area.

In [ ]:
i_r = 30
_area_of_circle_ = 3.14 * i_r * i_r
_circum_of_circle_ = 2 * 3.14 * i_r
print(f'area with new radius: {_area_of_circle_}')
print(f'circumference with new radius: {_circum_of_circle_}')


i_r = int(input('enter radius: '))
print(f'area with new radius: {3.14 * i_r * i_r}')

area with new radius: 2826.0
circumference with new radius: 188.4
enter radius: 67
area with new radius: 14095.46

6.“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set
to get the unique words.

In [ ]:
sentence = "I am a teacher and I love to inspire and teach people".split(" ")
set_sentence = set()
for elem in sentence:
    if elem not in set_sentence:
        set_sentence.add(elem)
    elif elem in set_sentence:
        set_sentence.remove(elem)

print(f'number of unique items in set: {len(set_sentence)}')

number of unique items in set: 8

7.Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsinki

In [ ]:
print('Name\t\tAge\t\tCountry\t\tCity\nAsabeneh\t250\t\tFinland\t\tHelsinki')

Name		Age		Country		City
Asabeneh	250		Finland		Helsinki

8.Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [ ]:
radius = 10
area = 3.14 * radius ** 2

output = "The area of a circle with radius {radius} is {area} meters square.".format(radius = radius, area = int(area))

print(output)

The area of a circle with radius 10 is 314 meters square.

9.Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [ ]:
# 1 lb = 0.45359237 kg 
L1 = [150, 155, 145, 148]
kilos = []
for element in L1:
    kilos.append(element * 0.45359237)

print(f'Lbs in Kilos: {kilos}')

Lbs in Kilos: [68.0388555, 70.30681735, 65.77089365, 67.13167076]

10.The diagram below shows a dataset with 2 classes and 8 data points, each with only one feature
value, labeled f. Note that there are two data points with the same feature value of 6. These are
shown as two x’s one above the other. Provide stepwise mathematical solution, do not write
code for it.
1. Divide this data equally into two parts. Use first part as training and second part as
testing. Using KNN classifier, for K=3, what would be the predicted outputs for the test
samples? Show how you arrived at your answer.
2. Compute the confusion matrix for this and calculate accuracy, sensitivity and specificity
values.